{% extends "layout.njk" %}

{% block content %}

  <form action="/teacher" method="post" class="card">
    <section class="img" style="background: url('https://images.unsplash.com/photo-1558021211-6d1403321394?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80')  no-repeat center center / cover"></section>

    <section class="info">
      <h3 class="infoalto">Cadastra Professor</h3>
      <div class="item">
        <div>Foto do Professor</div>
        <div><input type="url" name="avatar_url" placeholder="https://" ></div>
      </div>
      <div class="item">
        <div>Nome do Professor</div>
        <div><input type="text" name="name" placeholder="Digite o nome do professor" ></div>
      </div>

      <div class="item">
        <div>Data de Nascimento</div>
        <div><input type="date" name="birth_date"></div>
      </div>

      <div class="item">
        <div>Escolaridade</div>
        <div>
          <select name="education_level">
            <option value="Ensino Medio Completo">Ensino Médio Completo</option>
            <option value="Ensino Superior Completo">Ensino Superior Completo</option>
            <option value="Mestrado">Mestrado</option>
            <option value="Doutorado">Doutorado</option>
          </select>
        </div>
      </div>

      <div class="item">
        <div>Presencial ou EAD</div>
        <div>
          <span><input type="radio" name="class_type"  value="P" checked>Presencial</span>
          <span><input type="radio" name="class_type" value="D" >Á distancia</span>
        </div>
      </div>

      <div class="item">
      
         <div>Matéria</div>
         <div>
          <input type="text" name="subjects_taught" placeholder="Separar por virgula">
         </div>
      </div>

      <button type="submit" class="submit">Salvar</button>


  </form>

    </section>

{% endblock content %}